<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app.mensajes">

    <div *ngFor="let chat of chatService.chats" [ngClass]="{'text-right': chatService.user.uid == chat.uid}">
        <span class="badge " [ngClass]="{'badge-primary': chatService.user.uid == chat.uid,
                                         'badge-success': chatService.user.uid != chat.uid}">{{chat.name}}</span>
        <p>
            {{chat.message}}
        </p>
    </div>
    <!-- <div>
        <span class="badge badge-success">Dharma</span>
        <p>
            Another Message
        </p>
    </div> -->

</div>

<input type="text" class="form-control" name="mensaje" [(ngModel)]="menssage" placeholder="Send Message" (keyup.enter)="sendMessage()">