<!-- <ul>
    <li class="text" *ngFor="let chat of chats | async">
        {{chat.mensaje}}
    </li>
</ul> -->


<div class="container main-container">
    <h1>Firechat</h1>

    <div class="col-md-12 text-right" *ngIf="chatService.user.uid">
        <button class="btn btn-danger" (click)="chatService.logout()">Exit</button>
    </div>

    <app-login *ngIf="!chatService.user.uid"></app-login>

    <div class="chat-window" *ngIf="chatService.user.uid">
        <app-chat></app-chat>
    </div>

</div>